/* Bordered form */
body{
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu
	,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
form {
  border: 3px solid #f1f1f1;
  font-size: 18px;
}

/* Full-width inputs */
input[type=text], input[type=password]{
  width: 100%;
  margin-left: 10px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 14px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: #ffffff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Add padding to containers */
.container {
  padding: 12px;
}
.container>p{
	 text-align: center;
}
/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
.khung
{
	border: 2px groove;
	border-radius: 20px;
	width: 600px;
	height: auto;
	margin: auto;
	padding: 15px;
	margin-top: 5%;
}
.login{
	font-size: 30px;
	font-weight: bold;
}
a{
	font-weight: bold;
	color: #FF7C00;
	text-decoration: none;
}
.icon {
  background: #808080;
  color: white;
  min-width: 30px;
  text-align: center;
  padding: 12px 20px;
  margin: 8px 0;
  height: 100%;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}
